<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<h1>Register<h1>
		<% if (userExists) { %>
			<p>Registered user <%= username %></p>
			<a href="/login">Login</a>
		<% } else { %>
			<p>Username already exists</p>
			<a href="/register">Try again</a>
		<% } %>
	</body>
</html>
